#note-input-panel{
    width: 30vw;
    margin: auto;
    margin-top: 30px;
    
} 

input, textarea {
    margin-bottom: 10px;
}

#note-container{
    /* margin: auto; */
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
}